server:
  port: 9003

spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.163.128:8006 #配置Nacos地址

management:
  endpoints:
    web:
      exposure:
        include: '*'





